<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <meta charset="UTF-8">
   <title>Home Page</title>
   {% block head %}{% endblock %}
</head>

<body leftmargin="50px", rightmargin="50px" style = " background-color: #000000;" >
    <center>
        <h1 style = "color:Blue; font-family: fantasy;">Movie Today</h1>
     </center>
<nav class="navbar navbar-light bg-light">
 <a class="navbar-brand" style="color: Blue; font-family: fantasy;">Movie Finder</a>
    <a class="nav-item nav-link" href="#" style="color: Blue; font-family: fantasy;" onclick="location.href='http://127.0.0.1:5000/add'">Add Movie</a>
      <a class="nav-item nav-link" href="#" style="color: Blue; font-family: fantasy;" onclick="location.href='http://127.0.0.1:5000/Delete'">Delete</a>
    <a class="nav-item nav-link" href="#" style="color: Blue; font-family: fantasy;" onclick="location.href='http://127.0.0.1:5000/update'">Update</a>
 <form class="form-inline" method="post">
   <input class="form-control mr-sm-2" type="search" placeholder="Title/Director" aria-label="Search" name="mn"> <!--Type The style of the input blank  placeholder the notation of this object name is the var of your input-->
   <button class="btn btn-outline-success my-2 my-sm-0" style="color: Blue; font-family: fantasy;" type="submit">Search</button>
<!--
<button onclick="location.href='http://127.0.0.1:5000/Benji'" type="button">
        www.example.com</button>
-->
 </form>
</nav>

<img src="http://getwallpapers.com/wallpaper/full/2/3/2/328732.jpg" alt="Italian Trulli" width="2560" height="850">

{% block body %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>

